.profPic{
    width: 100px;
    margin: 25px;
    border-radius: 50px;
}

.x-large {
    line-height: 1.2;
    font-size: 35px;
    margin-bottom: 1rem;
}

.landing {
  /* position: absolute; */
  background: url(./../img/zoom-backgrounds-00000.jpg) no-repeat center center/cover;
  height: 100vh;
  min-height: 100%;
  position: relative;
  
}

.landing-inner {
  color: #fff;
  height: 100%;
    position: relative;
    top: 72px;
  
  width: 100%;
  height: 90%;
  margin: auto;
}

.confSpace{
    overflow: auto;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}


.internal{
    width: 100%;

    display: flex;
    flex-direction: raw;
    justify-content: center;
    text-align: center;
}

.internal .divisor{
    width: 1px;
    background-color: #f4f4f486;
    height: 400px;
}

.internal .campo{
    flex: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.internal .campo .preview{
    height: 50px;
    width: auto;
    display: none;
    border-radius: 25px;
    margin: 10px;
}

.internal input{
    width: 60%;
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid rgb(219, 219, 219);

}

.internal .boton{
    background: #00B921;
    coloR: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}