.landing3 {
  background: url(./../img/zoom-backgrounds-00009.jpg) no-repeat center center/cover;
  height: 100vh;
  min-height: 100%;
  position: relative;}


.landing-inner {
    color: #fff;
    height: 100%;
    position: relative;
    width: 100%;
    margin: auto;}

.PagCont{
  overflow: auto;
  max-height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  }
  
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  min-height: inherit;
  max-height: 100%;
  display: grid;
  justify-content: flex-start;
  max-width: none;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: 
      "a a  b b b b"
      "a a  b b b b"
      "a a  d d d d"
      "c c  d d d d"
      "c c  d d d d"
      "c c  d d d d";
  }
  .item1 {
    display: inline-block;;
    grid-area: a;
    align-self: start;
    max-width: 100%;
    max-height: 50%;
  }
  .item2 {
    display:inline-block;
    grid-area: b;
    max-height: 100%;
    align-self: flex-end;
  }
  .item3 {display:grid;
    grid-area: c;
    max-width: inherit;
    max-height: 2%; 
    justify-content: initial;
  }
  .item4 {
    padding-top: 1vh;
    overflow: auto;
    max-height: 20%;
    grid-area: d;
    display: flex;
    flex-direction: column;
    align-self: start;
  }
  textarea {
    margin-bottom: 14px;
    width: 100%;
    outline: none;
    letter-spacing: 2px;
    font-size: 11px;
    margin-left: 5px;
    padding: 10px;
    height: 218px;
    border-radius: 0;
  }
form{
  width: 100%;
  padding: 5px;
  height: inherit;
  
}

form label{
    width: 100%;
    
}

form textarea{

    max-height: 80%;
    resize: none;
    font-size: 16px;
    border-radius: 5px;
    border-color: #17a2b8 ;
    border-width: 3px;
}

form .options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
}

form .options .imgBtn{
    width: 10%;
    height: 10%;

}

form .options .publBtn{
    background: #17a2b8;
    padding: 5px;
    border: 0;
}
/* ----------------------------------------------------------- */
.wall{
  max-height: inherit;
}
.wall .post{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  flex: 50%;
  max-width: 100%;
  padding: 0 4px;
  margin-top: 10px;
  max-height: inherit;
}
.wall form{
  max-height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.wall .post .profPic{
  flex-grow: 0;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  margin: 10px;
}

.wall .post .contPost{
  flex-basis: 0;
  justify-content: stretch;
  flex-grow: 1;
  margin: 0 5px;
  text-align: justify;
}

.wall .post .profPic img{
  height: 50px;
  width: auto;
  overflow: hidden;
  border-radius: 25px;
}

.wall .post .contPost .usr{
  box-sizing: border-box;
}

.wall .post .contPost .textPost{
  line-height: 1.4;
  margin: 1px 0 15px;
}

.wall .post .contPost .imgContenedor{
  max-height: inherit;
}

.wall .post .contPost .likeBtn{
  padding: 5px;
  margin: 5px;
  height: 25px;
  background: none;
  border: 0;
  color: #2dbc4e;
}


.wall .post .contPost .likeBtn:hover{
  padding: 5px;
  margin: 5px;
  height: 25px;
  background: none;
  border: 0;
  color: #3f8650;
}
/* -------------------------------------------------------- */
.profilelista{
  display: list-item;
}
ul {
  list-style-image: url(getProfile);

}

.instructions-panel{
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.user{
  display: flex;
  padding: 2px 2px 2px 2px;
  justify-content: space-between;
}
.pCont{
  height: 25%;
}
.pCont form{
  height: 50%;
  max-height: 60%; 
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-direction: column;
}
.pCont fieldset{
  justify-self: start;
  height: 20%;
}
.pCont ol{
  overflow: scroll;
  height: inherit;
}
  